.opskrifter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.opskrifter img {
  max-width: 100%;
  border-bottom: 2px solid black;
}
#catListeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  a {
    padding: 2rem;
    background-color: rgb(203, 212, 222);
    text-decoration: none;
    color: inherit;
    text-align: center;
  }
}
main {
  background-color: white;
}
header,
footer {
  background-color: #fff7e9;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  a {
    text-decoration: none;
    color: inherit;
    text-align: center;
  }
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 0;
  gap: 1.5rem;
}

header li {
  list-style: none;
}
button {
  background-color: #d9744f;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  align-content: center;
}
p,
h1,
h2,
h3 {
  margin: 20px;
}
