/* fonts */
@font-face {
  font-family: "FredokaNormal";
  src: url("fonts/Fredoka_Condensed-Regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "FredokaBold";
  src: url("fonts/Fredoka_Condensed-SemiBold.woff") format("woff");
  font-weight: normal;
}

h1 {
  font-family: FredokaBold;
  font-style: bold;
  color: #1d392c;
}
.opskrifter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.opskrifter img {
  max-width: 100%;
}
#catListeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  a {
    padding: 2rem;
    background-color: rgb(203, 212, 222);
    text-decoration: none;
    color: #1d392c;
    text-align: center;
    font-family: FredokaNormal;
  }
}
main {
  background-color: white;
}
header,
footer {
  background-color: #fff7e9;
  margin: 10px;
}
header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;

  .nav-links {
    display: flex;
    justify-content: flex-end; /* Align everything to the right side */
  }
  a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    font-family: FredokaNormal;
  }
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 0;
  gap: 1.5rem;
}

header li {
  list-style: none;
}

.cusine-button {
  background-color: #a7c4a0;
}
#filtre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
button {
  background-color: #d9744f;
  border: #1d392c solid 1px;
  color: #1d392c;
  font-family: FredokaNormal;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  align-content: center;
}

p,
h1,
h2,
h3 {
  margin: 20px;
}
#forside-overskrift {
  text-align: center;
}

.detailview p {
  display: flex;
  align-items: center;
  gap: 15px;
}

.detailview p img {
  width: 80px; /* adjust to your preferred icon size */
  height: 80px;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: #1d392c;
  font-family: FredokaNormal;
}

.opskrift {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.opskrift button {
  margin-top: auto;
}

.menu img {
  max-height: 80px;
  max-width: 80px;
}
.profile {
  background-color: #a7c4a0;
}
